# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env
.venv
*.egg-info/
.installed.cfg
*.egg

# Database
*.sqlite3
postgres_data/

# Logs
*.log

# Docker
.docker/
docker-compose.override.yml

# Editor/IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
